*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li {
    text-decoration: none;
    list-style-type: none;
}
.wrapper{
    width: 70%;
    max-width: 1440px;
    margin: 0 auto;

}
/* Aqui preciso reever onde altero a imagem fundo e a imagem frontal para adequar ao tamanho da tela */
#secao_inicial{
    background-image: url(./Img/wallpapersden.com_dead-space-remake-2021_3840x2160.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* max-width: 1920px; */
    height: 100vh;
}
nav{
    /*background-color: white;*/        
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
/* nav>button{
    margin: 0 15px;
    padding: 0px 20px;
    font-size: 18px;
    text-decoration: none;
    color: white;
} */
nav>a>h3{
    display: block;
    width: fit-content;
    background-color: white;
    padding: 8px 20px;
    border-radius: 5px;
    margin: 0 15px;
    font-size: 18px;
}
#background{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: blue; */
    
}
#background>h1{
    color: white;
    padding-top: 80px;
}
#imagem_secao_inicial{
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 10%;
    margin-top: 80px;
    opacity: 0.6;
}

/* Inicio secao 2 */
#secao2{
background-color: rgb(26, 23, 23);
height: 520px;
/* margin: 0 auto; */
}
#secao2_artigos{
display: flex;
justify-content: space-around;
/* justify-content: space-between; */
/* background-color: white; */
padding-top: 70px;;
}
#imagem_teste{
    height: 430px;
    width: 570px;
    margin-left: 50px;
}
#secao2_texto_direito{
    /* background-color: white; */
    width: 45%;    
    margin-right: 50px;
}
#secao2_texto_direito>h2{
    font-size: 30px;
    text-align: center;
    padding: 30px;
    color: white;  
}
#secao2_texto_direito>p{
    font-size: 18px;
    text-align: center;
    color: white;
}

/* Inicio Secao 3 */

#secao3{
    height: 600px;
    display: flex;
}
#lista{
    background-color: blue;
    width: 30%;
}
#lista>ul{
    display:flex;
    flex-direction: column;
}
#imagem_teste2{
    height: 545px;
    width: 300px;
}