*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li {
    text-decoration: none;
    list-style-type: none;
}
body{
    background-color: #090604;
}
.wrapper{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;

}
/* Aqui preciso reever onde altero a imagem fundo e a imagem frontal para adequar ao tamanho da tela */
#secao_inicial{
    background-image: url(./Img/wallpapersden.com_dead-space-remake-2021_3840x2160.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* max-width: 1920px; */
    height: 100vh;
}
.link{
    width: 100%;
}
nav{
    /*background-color: white;*/        
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
nav>a>h3{
    display: block;
    width: fit-content;
    background-color: white;
    padding: 8px 20px;
    border-radius: 5px;
    margin: 0 15px;
    font-size: 18px;
}
#background{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: blue; */
    
}
#background>h1{
    color: white;
    padding-top: 80px;
}
#imagem_secao_inicial{
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 10%;
    margin-top: 80px;
    opacity: 0.6;
}

/* Inicio secao 2 */
#secao2{
height: 520px;
/* margin: 0 auto; */
}
#secao2_artigos{
display: flex;
justify-content: space-between;
/* justify-content: space-between; */
/* background-color: white; */
padding-top: 70px;;
}
#imagem_teste{
    height: 430px;
    width: 570px;
    
}
#secao2_texto_direito{    
    width: 52%;    
    background-color: royalblue;
}
#secao2_texto_direito>h2{
    font-size: 30px;
    text-align: center;
    padding: 30px;
    color: white;  
}
#secao2_texto_direito>p{
    font-size: 18px;
    text-align: center;
    color: white;
}
#titulo{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}
#titulo>h3{
    font-size: 30px;
}
/* Inicio Secao 3 */
#secao3{
    height: 600px;
    display: flex;
}
#lista{
    /* background-color: blue; */
    width: 25%;
    padding-top: 50px;
}
#lista>ul{
    display:flex;
    flex-direction: column;
    align-items: center;    
}
.link{
    width: 100%;
    
}
.primeiro{
    margin: 50px 0 0;
}
.link>a{
    display: block;
    width: 100%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    color: white;    
    font-size: 18px;
    padding: 25px 0;
    border-radius: 3px;    
    padding-left: 20px;
    
    background-color: bisque;
}
#texto_imagem{
    display: flex;
    justify-content: flex-end;
    /* background-color: cadetblue; */
}
#imagem_teste2{
    height: 545px;
    width: 480px;
    margin-top: 20px
}
#texto_secao3{
    width: 450px;
    /* background-color: green; */
    margin: 20px 0 0 10px;
    padding-top: 60px;
    text-align: center;
}
#texto_secao3>h4{
    font-size: 25px;    
    padding: 0 0 25px 0;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    /* background-color: crimson; */
}
#texto_secao3>p{
    font-size: 20px;
    width: 75%;
    /* background-color: coral; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: white;

}
#teste2{
    height: 200px;
    background-color: blanchedalmond;
}